@model List<iReclamation.Dtos.ReclamationDto>

<!DOCTYPE html>
<html>
<head>
    <title>Reclamation Report</title>
    <style>
        /* Add custom CSS styles for PDF layout */
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Reclamation Report</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Reference</th>
                <th>DateReception</th>
                <th>DateCreation</th>
                <th>Nom complet</th>
                
                <!-- Add headers for other properties -->
            </tr>
        </thead>
        <tbody>
            @foreach (var reclamation in Model)
            {
                <tr>
                    <td>@reclamation.Id</td>
                    <td>@reclamation.Reference</td>
                    <td>@reclamation.DateReception.Value.ToString("yyyy-MM-dd")</td>
                    <td>@reclamation.DateCreation.Value.ToString("yyyy-MM-dd")</td>
                    <td>@reclamation.Adherent.Nom + @reclamation.Adherent.Prenom</td>
                    <td>@reclamation.Adherent.Affiliation</td>
                    <!-- Add data cells for other properties -->
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
